.sub1{
    display: inline-block;
    width: 15%;
    position: fixed;
    font-style: italic;
    text-decoration: underline;
    padding-left: 12px;
    
}
.sub2{
    display: inline-block;
    width: 84%;
    margin-left: 202px;
    
    border-left: 2px  solid black;
    padding-left: 12px;
}
body{
    margin: 0;
    background-color: white;
}
.center-align{
    
    text-align: center;
    font-weight: bold;  
    font-size: 18px;
}
.side-headings{
    
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}